:root {
    --font-size-sm: clamp(0.8rem, 0.17vw + 0.76rem, 0.89rem);
    --font-size-base: clamp(1rem, 0.34vw + 0.91rem, 1.19rem);
    --font-size-md: clamp(1.25rem, 0.61vw + 1.1rem, 1.58rem);
    --font-size-lg: clamp(1.56rem, 1vw + 1.31rem, 2.11rem);
    --font-size-xl: clamp(1.95rem, 1.56vw + 1.56rem, 2.81rem);
    --font-size-xxl: clamp(2.44rem, 2.38vw + 1.85rem, 3.75rem);
    --font-size-xxxl: clamp(3.05rem, 3.54vw + 2.17rem, 5rem);
  }
  
  * {
    box-sizing: border-box;
  }
  
  *,
  *::before,
  *::after {
      box-sizing: border-box;
  }
  
  html {
    font-family:'Poppins', sans-serif;
    background-color: rgb(163, 245, 236);
    color: #222;
    scroll-behavior: smooth;
    line-height: 1.4;
    font-size:var(--font-size-base);
  }
  
  body {
    margin: 2rem;
  }

  .top-banner {
    display: flex;
  }

  img {
    width: 100%;
  }

  #instructions ol {
    display: grid;
    padding: 2em;
    background-color:beige;
    border: solid;
    border-color:#222;
    border-width: thin;
    max-width: 80%;
  }

  ol li, ul li {
    list-style-type: none;
  }

  ol li h4 {
    font-weight: 700;
    text-decoration: underline;
    text-transform: uppercase;
  }

  dl dd {
    margin-bottom: 0.5rem;
  }

  ol, dl {
    color:midnightblue;
    text-align: center;
  }

  figcaption {
    font-size:var(--font-size-sm);
  }

  #html-elements-2 a {
    text-decoration: none;
    transition: all 0.2s Linear;
    color:#222;
  }

  #html-elements-2 a:hover {
    color:blue;
  }

  dl dt {
    animation: emphasize 5s linear infinite;
  }

  @keyframes emphasize {
    0% {
        font-weight: 400;
    }

    50% {
        font-weight: 600;
        color:blueviolet;
    }

    0% {
        font-weight: 400;
    }
  }

  @media only screen and (min-width: 60em) {
    #instructions ol {
        grid-template-columns: repeat(4, 1fr);
    }
  }